*
{
    margin: 0 auto;
    font-family: "Vibur", sans-serif;
    color: #ffffff;
}

body
{
    background: url(https://i.ibb.co/T8pjZ1f/back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}


.all
{
    position: absolute;
    height: 98%;
    max-height: 450px;
    width: 90%;
    max-width: 300px;
    /*border: 2px solid #000000;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    

    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.38);
    
}

.about
{
    text-align: center;
    height: 30%;
    
    
}
.about img
{
    height: 55%;
    width: auto;
    height: 55%;
    max-height: 75px;
    max-width: 75px;
    margin-top: 4%;
    border-radius: 50%; 
    -webkit-box-shadow: 4px 4px 20px 0px rgb(31, 31, 31);
    -moz-box-shadow: 4px 4px 20px 0px rgb(31, 31, 31);
    box-shadow: 4px 4px 20px 0px rgb(31, 31, 31);
   
}

.about p
{
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin-top: 0.5%;
    font-size: 130%;
}

.links
{
 
    position: absolute;
    bottom: 0%;
    height: 70%;
    width: 100%;
}


.link
{
    
    border-top: #e0eefe 1px solid;
    border-bottom: #e0eefe 1px solid;
    height: 25%;
    width: 100%;
    font-size: 120%;
    cursor: pointer;
    
}

.link:hover
{
     transition: 0.2s;
    
    .right
    {
        transition: 0.122s;
        opacity: 0%;
        width: 0%;
    }

    .left
    {
        width: 100%;
        transition: 0.2s;
    }

    .left img
    {
        transition: 0.2s;
        height: 80px;
    }
}













#first
{
    border-top: 2px #e0eefe solid;
}


.left
{
    
    float: left;
    width: 40%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    
    
}
.left img
{
    transition: 0.2s;
    height: 60px;
    filter: drop-shadow(4px 4px 7px rgb(31, 31, 31));

}




.right {
    float: left;
    height: 100%;
    width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    opacity: 100%;
    text-shadow: 2px 2px 4px rgb(37, 37, 37);
}